
html {
    background-color: rgb(0, 136, 255);

}

* {
    font: 1.1rem Inconsolata, monospace;
}

body {
    background-color: rgb(0, 136, 255);
    margin: 0%;
    padding: 2rem;
    color: rgb(0, 136, 255);
    font: 1.1rem Inconsolata, monospace;
}

h2 {
    font-weight: bold;
    color: white;
}

::selection {
    background: #0080FF;
    color: yellow;
    text-shadow: none;
}

.container {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-start;      */
    align-items: stretch;
}

.container-item {
    margin: 5px;
    background-color: rgb(0, 0, 170);
    padding: 0px 20px 20px 20px;
    flex: auto;
}

.inputField {
    margin-top: 5px;
    margin-bottom: 0px;
}

.warning {
    font-size: 0.9em;
    color: yellow;
}

label {
    display: block;
    width: 150px;
    float: left;
    padding-right: 20px;
}

select {
    width: 250px;
}

pre {
    margin: 0;
}

code {
    display: block;
    white-space: pre-wrap
}
